{%load static %}
<!-- ##### الفوتر ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="index.html"><img src="{%static 'img/core-img/MS_logo-removebg.png'%}" alt=""></a>
                    </div>
                    <!-- Copywrite Text -->
                    <p class="copywrite">Copyright &copy;<script>document.write(new Date().getFullYear());</script> </p>
                </div>
            </div>
        </div>
    </div>
</footer>